/*******************************************************
		FORMATION-SELECTOR
*******************************************************/

div.formation-selector {
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 1.5px solid #2be400;
	border-radius: 0px 0px 15px 15px;
	background-color: #181818;
}

div.formation-selector div#main-title {
	font-family: 'Fjalla One', sans-serif;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 2.75em;
	background-color:rgba(0, 0, 0, 0.75);
	line-height: 1.25em;
	margin: 0px;
	padding-top: 5px;
	border-bottom: 1px solid #2be400;
}

div.formation-selector div#main-title::first-letter,
span#greenF {
	color: #2BE400;
	font-weight: bolder;
	font-size: 1.15em;
}

div.formation-selector h3 {
	color: #2ae400;
	margin: 0px auto 5px auto;
}

div.formation-selector div.select-formation {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 0px 5px;
}

div.formation-selector p {
	margin: 5px 2px 8px 2px;
	line-height: 1em;
}

div.formation-selector form {
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

div.formation-selector form select,
div.formation-selector form select option {
	background: #181818;
	border: none;
	color: white;
	border-bottom: 1.5px solid white;
	font-size: 1.5em;
	height: 30px;
	width: 125px;
	margin: 5px 10px;
	margin-bottom: 0px;
	display: flex;
	vertical-align: middle;
}

div.formation-selector form select option {
	font-size: .5em;
}

div.formation-selector form input {
  background: #2ae400;
  background-image: -webkit-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -moz-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -ms-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -o-linear-gradient(top, #2ae400, #1c8c00);
  background-image: linear-gradient(to bottom, #2ae400, #1c8c00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  width: 75px;
  margin: 5px 5px 5px auto;
  border: none;
}

div.formation-selector form input:hover {
  background: #7be85d;
  background-image: -webkit-linear-gradient(top, #7be85d, #489432);
  background-image: -moz-linear-gradient(top, #7be85d, #489432);
  background-image: -ms-linear-gradient(top, #7be85d, #489432);
  background-image: -o-linear-gradient(top, #7be85d, #489432);
  background-image: linear-gradient(to bottom, #7be85d, #489432);
  text-decoration: none;
}

div.select-formation p {
	color: #2be400;
}



/*****************************
	FORM-SEL: RESPONSIVE
*****************************/

@media screen and (min-width: 345px) {
	
	div.formation-selector p{
		font-size: 1em;
	}
}


@media screen and (min-width: 360px) {
	
	div.formation-selector {
		font-size: .75em;
	}

	div.formation-selector p{
		font-size: 1.45em;
	}
}

@media screen and (min-width: 375px) {
	
	div.formation-selector {
		font-size: .65em;
	}

	div.formation-selector p{
		font-size: 1.60em;
	}
}

@media screen and (min-width: 400px) {
	
	div.formation-selector {
		font-size: .6em;
	}
}

@media screen and (min-width: 475px) and (max-width: 749px) {
	
	div.formation-selector {
		width: 150px;
		height: 100%;
		top: auto;
		left: 0px;
		border-radius: 0px 10px 10px 0px;
	}

	div.formation-selector h1 {
		line-height: 1em;
	}

	div.formation-selector div.select-formation {
		flex-direction: column;
		max-width: 150px;
		font-size: .75em;
	}

	div.formation-selector div.select-formation form {
		flex-direction: column;
		font-size: 1.35em;
	}

	div.formation-selector form input {
		border-radius: 10px;
		margin-top: 10px;
		height: 45px;
		font-size: 2em;
	}
}

@media screen and (min-width: 750px) {
	
	div.formation-selector {
		font-size: .8em;
	}
}

@media screen and (min-width: 1024px) {
	div.formation-selector {
		width: 400px;
		height: 100%;
		top: auto;
		left: 0px;
		border-radius: 0px 10px 10px 0px;
	}

	div.formation-selector h1 {
		line-height: 1em;
	}

	div.formation-selector div.select-formation {
		flex-direction: column;
		max-width: 380px;
		font-size: 1.25em;
		margin-top: 30px;
	}

	div.formation-selector div.select-formation form {
		flex-direction: column;
		font-size: 1.35em;
	}

	div.formation-selector form input {
		border-radius: 10px;
		margin-top: 20px;
		font-size: 1.75em;
	}
}