/*******************************************************
	FORMATION
*******************************************************/

div.formation {
	background-image: url(../images/fifa-background-mobile-small.png);
	background-size: cover;
	background-position: center center;
	height: 100vh;
	margin: 0px;
	z-index: -1;
	color: white;
	font-family: 'Cantarell', sans-serif;
	overflow-y: scroll;
	line-height: 1.25em;
}

div.formation div.tactics-instr-combo {
	background-color: #181818;
	margin: 220px auto 0 auto;
	display: flex;
	width: 92%;
	border-bottom: 1.5px solid #2be400;
}

button#logout {
  background: #2ae400;
  background-image: -webkit-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -moz-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -ms-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -o-linear-gradient(top, #2ae400, #1c8c00);
  background-image: linear-gradient(to bottom, #2ae400, #1c8c00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  margin: 10px auto 20px auto;
  border: none;
    -webkit-box-shadow: 0 5px 3px -3px #313131;
       -moz-box-shadow: 0 5px 3px -3px #313131;
            box-shadow: 0 5px 3px -3px #313131;
}

button#logout:hover {
  background: #7be85d;
  background-image: -webkit-linear-gradient(top, #7be85d, #489432);
  background-image: -moz-linear-gradient(top, #7be85d, #489432);
  background-image: -ms-linear-gradient(top, #7be85d, #489432);
  background-image: -o-linear-gradient(top, #7be85d, #489432);
  background-image: linear-gradient(to bottom, #7be85d, #489432);
  text-decoration: none;
}

/*****************************
	FORMATION: RESPONSIVE
*****************************/


@media screen and (min-width: 360px) {
	
	div.formation {
		font-size: 1.15em;
	}

	div.formation div.tactics-instr-combo {
		margin-top: 220px;
	}
}

@media screen and (min-width: 375px) {
	
	div.formation {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 400px) {
	
	div.formation div.tactics-instr-combo {
		margin-top: 205px;
	}
}


@media screen and (min-width: 475px) and (max-width: 749px) {

	div.formation {
		background-image: url('../images/fifa-background-mobile-large.png');
		display: flex;
		align-items: center;
		height: 100vh;
	}
	
	div.formation div.tactics-instr-combo {
		width: 70%;
		margin: 0px;
		font-size: .69em;
		position: absolute;
		top: -3px;
		left: 155px;
	}

	button#logout {
		position: absolute;
		z-index: 10px;
		left: 4px;
		bottom: 10px;
		font-size: .6em;
		height: 30px;
	}
}

@media screen and (min-width: 650px) and (max-width: 749px) {
	div.formation div.tactics-instr-combo {
		width: 75%;
		font-size: .8em
	}
}

@media screen and (min-width: 750px) {
	
	div.formation {
		font-size: 1.8em;
	}

	div.formation div.tactics-instr-combo {
		margin-top: 365px;
	}
}

@media screen and (min-width: 1024px) {

	div.formation {
		background-image: url('../images/fifa-background.jpg');
		display: flex;
		align-items: center;
		height: 100vh;
	}
	
	div.formation div.tactics-instr-combo {
		width: 59%;
		margin: 0px;
		font-size: 1.25em;
		position: absolute;
		top: 15px;
		left: 410px;
		border-radius: 10px 10px 0px 0px;
	}

	button#logout {
		position: absolute;
		z-index: 10px;
		left: 25px;
		bottom: 10px;
		font-size: 1.25em;
	}
}

@media screen and (min-width: 1250px) {

	div.formation div.tactics-instr-combo {
		width: 65%;
	}
}

@media screen and (min-width: 1450px) {

	div.formation div.tactics-instr-combo {
		width: 70%;
	}
}

@media screen and (min-width: 1700px) {

	div.formation div.tactics-instr-combo {
		width: 75%;
	}
}

@media screen and (min-width: 1950px) {

	div.formation div.tactics-instr-combo {
		width: 78%;
	}
}