/*******************************************************
	FORMATION
*******************************************************/

div.formation {
	background-image: url(../images/backgroundmobile.jpg);
	background-size: cover;
	background-position: center center;
	height: 100vh;
	margin: 0px;
	z-index: -1;
	color: white;
	font-family: 'Cantarell', sans-serif;
	overflow-y: scroll;
}

div.formation div.tactics-instr-combo {
	background-color: #181818;
	margin: 210px auto 0 auto;
	display: flex;
	width: 90%;
	border-bottom: 1px solid #FF4200;
}

button#logout {
	background: black;
	border: 1.5px solid white;
	color: white;
	overflow: hidden;
	-webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: 10px 10px 10px 10px;
	margin-top: 6px;
	margin-bottom: 5px;
	font-size: 1em;
}

button#logout:hover {
	text-shadow: 0 0 10px #FFFFFF , 0 0 20px #FF4200 , 0 0 30px #FF4200 , 0 0 40px #FF4200;
}

/*****************************
	FORMATION: RESPONSIVE
*****************************/

@media screen and (min-width: 345px) {
	div.formation div.tactics-instr-combo {
		margin-top: 200px;
	}	
}

@media screen and (min-width: 360px) {
	
	div.formation {
		font-size: 1.15em;
	}

	div.formation div.tactics-instr-combo {
		margin-top: 190px;
	}
}

@media screen and (min-width: 375px) {
	
	div.formation {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 400px) {
	
	div.formation {
		font-size: 1.4em;
	}

}

@media screen and (min-width: 475px) and (max-width: 749px) {

	div.formation {
		background-image: url('../images/background desktop.jpg');
		display: flex;
		align-items: center;
		height: 100vh;
	}
	
	div.formation div.tactics-instr-combo {
		width: 70%;
		margin: 0px;
		font-size: .69em;
		position: absolute;
		top: -3px;
		left: 155px;
	}

	button#logout {
		position: absolute;
		z-index: 10px;
		left: 4px;
		bottom: 10px;
		font-size: .6em;
		height: 30px;
	}
}

@media screen and (min-width: 650px) and (max-width: 749px) {
	div.formation div.tactics-instr-combo {
		width: 75%;
		font-size: .8em
	}
}

@media screen and (min-width: 750px) {
	
	div.formation {
		font-size: 1.8em;
	}

	div.formation div.tactics-instr-combo {
		margin-top: 365px;
	}
}

@media screen and (min-width: 1024px) {

	div.formation {
		background-image: url('../images/background desktop.jpg');
		display: flex;
		align-items: center;
		height: 100vh;
	}
	
	div.formation div.tactics-instr-combo {
		width: 59%;
		margin: 0px;
		font-size: 1.25em;
		position: absolute;
		top: 15px;
		left: 410px;
		border-radius: 10px 10px 0px 0px;
	}

	button#logout {
		position: absolute;
		z-index: 10px;
		left: 25px;
		bottom: 10px;
		font-size: 1.25em;
	}
}

@media screen and (min-width: 1250px) {

	div.formation div.tactics-instr-combo {
		width: 65%;
	}
}

@media screen and (min-width: 1450px) {

	div.formation div.tactics-instr-combo {
		width: 70%;
	}
}

@media screen and (min-width: 1700px) {

	div.formation div.tactics-instr-combo {
		width: 75%;
	}
}

@media screen and (min-width: 1950px) {

	div.formation div.tactics-instr-combo {
		width: 78%;
	}
}