/*******************************************************
	MAIN
*******************************************************/


div.main {
	background-image: url(../images/fifa-background-mobile-small.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0px;
	font-family: 'Cantarell', sans-serif;
	padding-bottom: 20px;
}

div.main div#main-title {
	font-family: 'Fjalla One', sans-serif;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 2.75em;
	background-color:rgba(0, 0, 0, 0.75);
	line-height: 1.25em;
	margin: 0px;
	margin-bottom: 10px;
	padding-top: 5px;
}

div.main div#main-title::first-letter,
span#greenF {
	color: #2BE400;
	font-weight: bolder;
	font-size: 1.15em;
}

div.welcome {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(0, 0, 0, 0.75);
	padding-top: 5px;
	padding-bottom: 12.5px;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
}

div.main div.welcome p {
	margin: 2px auto;
	padding-left: 7px;
	padding-right: 7px;
	font-size: .75em;
	color: white;
	line-height: 15px;
}

div.main div.welcome h2 {
	color: #2BE400;
	margin: 0px;
	width: 80%;
	margin: auto;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

div.main p {
	padding: 10px;
	margin: 20px auto;
	color: white;
}

div.main a {
  background: #2ae400;
  background-image: -webkit-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -moz-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -ms-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -o-linear-gradient(top, #2ae400, #1c8c00);
  background-image: linear-gradient(to bottom, #2ae400, #1c8c00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100px;
  margin: auto;
}

div.main a:hover {
  background: #7be85d;
  background-image: -webkit-linear-gradient(top, #7be85d, #489432);
  background-image: -moz-linear-gradient(top, #7be85d, #489432);
  background-image: -ms-linear-gradient(top, #7be85d, #489432);
  background-image: -o-linear-gradient(top, #7be85d, #489432);
  background-image: linear-gradient(to bottom, #7be85d, #489432);
  text-decoration: none;
}


/******************************************************
	Forms
******************************************************/

#login-form {
	background-color:rgba(0, 0, 0, 0.75);
	border-radius: 3px;
	width: 96%;
	margin: 20px auto;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
	font-family: 'Cantarell', sans-serif;
	padding-top: 5px;
}

p#demo-info {
	color: white;
	font-size: 12px;
	margin: 0px auto;
	padding: 0;
}

@-webkit-keyframes autofill {
    to {
        color: #FFF;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

h1.form-title {
	color: #2BE400;
	margin: 2px auto 10px auto;
	font-size: 1.5em;
}

label.login-form-label {
	color: white;
	text-shadow: 2px 2px 3px #000000;
}

#login-form div.form-input {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 2px auto 5px auto;
	width: 80%;
	flex-direction: column;
}

#login-form div.form-input input {
	position: relative;
	background-color:rgba(0, 0, 0, 0.0);
	border: none;
	border-bottom: 1.5px solid white;
	width: 100%;
	padding: 0px 0px 1px 5px;
	font-size: 1.15em;
	clear: right;
	margin-bottom: 5px;
	color: white;
}

/* change placeholder color */
#login-form div.form-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #D5D8D9;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #D5D8D9;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #D5D8D9;
}
:-moz-placeholder { /* Firefox 18- */
	color: #D5D8D9;
}

div.form-error,
div.form-warning {
	color: #2BE400;
	font-size: .75em;
	margin-top: 0px;
}

#login-form-btn {
  background: #2ae400;
  background-image: -webkit-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -moz-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -ms-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -o-linear-gradient(top, #2ae400, #1c8c00);
  background-image: linear-gradient(to bottom, #2ae400, #1c8c00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100px;
  margin: 10px auto;
  border: none;
}

#login-form-btn:hover {
  background: #7be85d;
  background-image: -webkit-linear-gradient(top, #7be85d, #489432);
  background-image: -moz-linear-gradient(top, #7be85d, #489432);
  background-image: -ms-linear-gradient(top, #7be85d, #489432);
  background-image: -o-linear-gradient(top, #7be85d, #489432);
  background-image: linear-gradient(to bottom, #7be85d, #489432);
  text-decoration: none;
}

div#loader.hidden {
	display: none;
}

#register-link,
#login-link {
	position: static;
	bottom: auto;
	left: auto;
	background-color: black;
	padding: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    font-size: 15px;
}

form.register-form {
	background-color:rgba(0, 0, 0, 0.75);
	border-radius: 3px;
	width: 96%;
	margin: auto;
	margin-bottom: 20px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
	font-family: 'Cantarell', sans-serif;
	padding-top: 5px;
}

/* containers for each input and label */
form.register-form div {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 2px auto 5px auto;
	width: 90%;
	flex-direction: column;
}

form.register-form div input {
	position: relative;
	background-color:rgba(0, 0, 0, 0.0);
	border: none;
	border-bottom: 1.5px solid white;
	width: 100%;
	padding: 5px;
	font-size: 1.15em;
	clear: right;
	color: white;
	align-self: center;
}

/* change placeholder color */
form.register-form div input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #D5D8D9;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #D5D8D9;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #D5D8D9;
}
:-moz-placeholder { /* Firefox 18- */
	color: #D5D8D9;
}

/* error message span */
form.register-form span {
	color: #2BE400;
	font-size: .75em;
	margin-top: 0px;
}

#register-btn-container {
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

#register-form-submit-btn,
#register-form-clear-btn {
  background: #2ae400;
  background-image: -webkit-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -moz-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -ms-linear-gradient(top, #2ae400, #1c8c00);
  background-image: -o-linear-gradient(top, #2ae400, #1c8c00);
  background-image: linear-gradient(to bottom, #2ae400, #1c8c00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100px;
  margin: 10px auto;
  border: none;
}

#register-form-clear-btn {
	font-size: 15px;
	width: 150px;
}

#register-form-submit-btn:hover,
#register-form-clear-btn:hover {
  background: #7be85d;
  background-image: -webkit-linear-gradient(top, #7be85d, #489432);
  background-image: -moz-linear-gradient(top, #7be85d, #489432);
  background-image: -ms-linear-gradient(top, #7be85d, #489432);
  background-image: -o-linear-gradient(top, #7be85d, #489432);
  background-image: linear-gradient(to bottom, #7be85d, #489432);
  text-decoration: none;
}

/*****************************
	MAIN: RESPONSIVE
*****************************/

@media screen and (min-width: 480px) {

	div.main {
		background-image: url('../images/fifa-background-mobile-large.png');
		overflow-y: auto;
		vertical-align: middle;
	}
}

@media screen and (min-width: 650px) {

	div.main {
		background-image: url('../images/fifa-background.jpg');
		overflow-y: auto;
		vertical-align: middle;	
	}
}
