/*******************************************************
		PLAYER INSTRUCTIONS
*******************************************************/

div.playerInstructions {
	background-color: #181818;
	display: flex;
	overflow: hidden;
	width: 50%;
	flex-direction: column;
	border-left: .25px solid #2be400;
	padding: 2px;
}

div.playerInstructions div.all-instructions {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 3px;
}

div.playerInstructions ul {
	list-style: none;
	padding-left: 0px;
	font-size: .55em;
	margin: 0px;
}

div.playerInstructions ul li {
	line-height: 1.25em;
	font-size: 1.25em;
	padding-left: 5px;
}

div.playerInstructions h2 {
	font-size: .9em;
	margin: 5px auto 3.5px auto;
	color: #2be400;
}

div.playerInstructions h3 {
	font-size: .75em;
	margin: 5px auto;
	width: 100%;
	background-color: black;
	border-bottom: 1.5px solid #292929;
	text-align: center;
}

h3#fwd-header {
	margin-top: 0px;
}

/*****************************
	PlAYER INSTR: RESPONSIVE
*****************************/

@media screen and (min-width: 1024px) {
	div.playerInstructions {
		border-radius: 0px 10px 0px 0px;
	}
}